.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  color: white;
  background-color: #232f3b;
  z-index: 1000;
  backdrop-filter: blur(10px); 
}

.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: var(--transition);
  white-space: nowrap;
}

.burger {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}


.nav-links li svg {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}

.navbar li{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
}

.navbar li.active {
  background: var(--primary-color);
  border-radius: 15px 15px 0px 0px;
  border-bottom: 2px solid var(--secondary-color); 
}


.navbar li.active svg{
  fill: var(--secondary-color) !important;
}

.navbar li.active a{
  color: var(--secondary-color) !important;
}


@media (max-width: 950px) {
  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #232f3b;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: left;
  }

  .nav-links.show {
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
  }

  .navbar li.active {
  background-color: var(--primary-color);
  border-radius: 15px;
  border-left: 2px solid var(--secondary-color);
  border-bottom: 0px; 
  }

}
