/* Variables globales */
:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --accent-color: #e74c3c;
  --text-color: #333;
  --light-bg: #f5f6fa;
  --transition: all 0.3s ease;
}
#texte-presentation{
  color: aqua;
}

/* Reset et styles de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--light-bg);
}


/* Sections */
section {
  padding: 4rem 2rem;
  margin: 2rem auto;
  width: 95%;
}

.titre {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* présentation */
.section-projets {
  background-color: white;
  border-radius: 16px;
}

.titre-projets{
  text-align: center;
}


.titre {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color, #333);
}
