<div class="navbar bg-base-100 shadow-sm fixed top-0 left-0 right-0 z-50">
  <div class="flex-1">
    <div class="dropdown" #dropdown [class.dropdown-open]="menuOpen">
      <button class="btn btn-ghost btn-xs lg:hidden" (click)="toggleMenu($event)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-5 w-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
      <ul class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li *ngFor="let section of sections">
            <a
              (click)="scrollTo(section.id, $event);"
              [class.border-l-4]="activeSection === section.id"
              [class.border-blue-500]="activeSection === section.id"
              [class.text-blue-500]="activeSection === section.id"
              class="transition-all duration-200">
              {{ section.label }}
            </a>
          </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" (click)="scrollTo('accueil')">Portfolio CARLU Antoine</a>
  </div>

  <div class="flex-none justify-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li *ngFor="let section of sections">
        <a
          (click)="scrollTo(section.id)"
          [class.border-b-2]="activeSection === section.id"
          [class.border-blue-500]="activeSection === section.id"
          [class.text-blue-500]="activeSection === section.id"
          class="transition-all duration-200 rounded-none">
          {{ section.label }}
        </a>
      </li>
    </ul>
  </div>


  <!-- DROITE : même largeur que gauche -->
  <div class="flex-1 flex justify-end items-center pr-3">
    <label class="swap swap-rotate">
      <input type="checkbox" (change)="toggleTheme($event)" />
      <svg class="swap-on h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M5.64 17l-.71.71a1 1 0 0 0 1.41 1.41l.71-.71A1 1 0 0 0 5.64 17zM5 12a1 1 0 0 0-1-1H3a1 1 0 0 0 0 2h1a1 1 0 0 0 1-1zm7-7a1 1 0 0 0 1-1V3a1 1 0 0 0-2 0v1a1 1 0 0 0 1 1zM5.64 7.05a1 1 0 0 0 .7.29 1 1 0 0 0 .71-.29 1 1 0 0 0 0-1.41l-.71-.71a1 1 0 0 0-1.41 1.41zm12 .29a1 1 0 0 0 .7-.29l.71-.71a1 1 0 0 0-1.41-1.41l-.64.71a1 1 0 0 0 0 1.41 1 1 0 0 0 .64.29zM21 11h-1a1 1 0 0 0 0 2h1a1 1 0 0 0 0-2zm-9 8a1 1 0 0 0-1 1v1a1 1 0 0 0 2 0v-1a1 1 0 0 0-1-1zm6.36-2a1 1 0 0 0-1.41 1.41l.71.71a1 1 0 0 0 1.41-1.41zM12 6.5a5.5 5.5 0 1 0 5.5 5.5A5.51 5.51 0 0 0 12 6.5z"/>
      </svg>
      <svg class="swap-off h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M21.64 13a1 1 0 0 0-1.27-.66 8.11 8.11 0 0 1-2.18.3 8.25 8.25 0 0 1-8.24-8.25 8.11 8.11 0 0 1 .3-2.18 1 1 0 0 0-1.27-1.27 10.26 10.26 0 1 0 12.66 12.66 1 1 0 0 0-.0-1.6z"/>
      </svg>
    </label>
  </div>

</div>

<div id="accueil"><app-accueil></app-accueil></div>
<div id="presentation"><app-presentation></app-presentation></div>
<div id="experiences"><app-experiences></app-experiences></div>
<div id="competences"><app-competences></app-competences></div>
<div id="projets"><app-projets></app-projets></div>
<app-footer></app-footer>